body {
    background-color: #202020;
    color: whitesmoke;
}

.menu {
    width: 50%;
    padding: 1%;
    background: no-repeat linear-gradient(black, blue);
    border: 4px ridge;
    border-radius: 4px;
    margin-bottom: 2%;
    font-family: 'Overpass Mono';
    text-shadow: 2px 2px black;
}

.submenu{
    float:right;
}

#header {
    width: 100%;
    overflow: auto;
}
    #header h1 {
        margin: none;
    }

#title{
    width: 50%;
    float: left;
    position: absolute;
}

#options ul{
    list-style: none;
}

    #options li {
            font-size: 28px;
            line-height: 28px;
    }

    #options li:hover {
            list-style: url(../Content/pointerSmall.png);
    }

#main {
    font-family: 'Crimson Text';
    }

::after{
    display:block;
    clear:both;
    margin:2%;
}

.foreground {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: -2px 0px 0px rgb(0, 255, 255)
            , 2px 2px 0px rgb(12, 12, 12);
    background-color: #313131;
    color: whitesmoke;
}
    .foreground:hover {
        box-shadow: -2px 0px 0px rgb(255, 0, 255)
                , 2px 2px 0px rgb(12, 12, 12);
    }
    .foreground:focus {
        box-shadow: -2px 0px 0px rgb(255, 255, 0)
                , 2px 2px 0px rgb(12, 12, 12);
    }

a{
    color: inherit;
    font-style: inherit;
}
    a:hover{
        color: inherit;
        text-decoration: inherit;
    }
